/*limpar formatacao padrao do navegador*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

#cabecalho {
    background-color: rgb(255, 196, 0);
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#principal {
    background-color: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

#postagens {
    width: 660px;
    float: left;
}

#lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
     margin-bottom: 20px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited {
    color: blueviolet;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}


h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background-color: #ccc;
    padding: 5px;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
}

.menu-lateral {
    padding: 10px 5px;
}